/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1.5em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $pastel-blue;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;

  &+table {
    margin-top: 1.5em;
  }
}

thead {
  background-color: $pastel-blue;
  color: darken($primary-color, 20%);
}

th {
  padding: 1em;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

td {
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid $pastel-gray;

  &:last-child {
    border-right: none;
  }
}

tr:last-child td {
  border-bottom: none;
}

tr,
td,
th {
  vertical-align: middle;
}